.sectionA{
    position:sticky;
    top:0;
    display: flex;
    background-color: rgb(23, 22, 22);
    color:white;
    align-items: center;
    justify-content: space-between;
    height:60px;
    margin-top: 10px;

}

ul{
    display:flex;
    list-style-type: none;
}

a{color: white;
padding:0 15px;}

.account{
    position:relative;
    right: 120px;
}

.buy-button{
    position:fixed;
    right: 40px;
    top:10px;
    background-color: aqua;
    padding: 20px 30px;
    border-radius: 30px;
    color:black;
}

.sectionB {
    display: block;
    background-color: black;
    min-height: 300px;
    color: white;
    padding: 20px; 

}

.slogan {
    display: inline-block;
    position:relative;
    top:40px;
   /* background-color: antiquewhite;*/
    width: 600px;

}


.BFD{
    font-size:20px;

}
 .line1{
    font-size: 40px;
margin:40px 0 0 0;
font-size: clamp(1.5rem, 5vw, 40px);
max-width: 600px;

 }
 


.product{
    
    display:flex;

    margin-left:900px;
    margin-top:-90px;
    gap:20px;
    justify-content: flex-end;


}

.product img{
    width: 100%;
    max-width: 150px;
    height: auto;
}

.sectionC {

   width:100%;
   height:auto;

}

.main{
    position: static;
    width:100%;
    height:auto;


}

.mainpic{

    width:100%;
    height:auto;
}

.main-slogan{
    position:absolute;

    /*display: flex;
   /*align-content: center;
    /*justify-content: center;*/
    top:100%;
    left:50%;
    transform: translate(-50%);

    color:white;
    

 
}

.name {
    text-align: center;
    padding:0;
    font-size:2em;
}


.name2 {
    text-align: center;
   font-size:clamp(1.5em,5vw,3em);
    margin-top: -0.5em;
}


.line3 {
    
    text-align: center;
    font-size:clamp(1em,5vw,1.2em);
    
 margin-top: 10em;
     
}

.buy-button2{
    position: relative;
    text-align: center;
    left:50%;
    background-color: aqua;
    padding: 20px 30px;
    width:2em;
    border-radius: 30px;
    color:black;
    transform: translate(-50%);
}

.empty{
    display:flex;

}
.emptyA{
    display:block;
    width:100%;
    height: 1000px;
    background-color: aliceblue;
}

.questions{
    cursor: pointer;

}

.answers{
    display:none;
}

.moreanswers{
    display:none;
}

.more{
    cursor: pointer;
}

.FAQ{
    width: 100%;
    height: 700px;
    background-color: blue;
    
}

.email {

    display:flex;
    background-color: black;  
    color: white;
    width:100%;
    height:500px;
}

.left{

    display: inline-block;
    justify-content: start;
    width:100%;
    
}

.right{
    justify-content: end;
     width:100%;


}

.information{
    display: flex;
    width:100%;
    height:auto;
    align-content: center ;
    justify-content: center;
    background-color: black;
    color:beige
}

.copyright{
    display:flex;
    justify-content: space-between;
    background-color: black;

}
